.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style: none;
  margin: 0;
  color: white;
  list-style-type: none;
  text-decoration: none;




  }


  .footer__column-link:hover {
    opacity: 0.5;



  }




  .footer__column-link:last-child {
    padding-bottom: 0;




  }
