.kaufman__triangle {
  width: 877px;
  height: 877px;
  display: flex;
  background-image: url("../../../images/kaufman-triangle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  right: -210px;
}
