.header__title {
  font-size: 102px;
  max-width: 730px;
  line-height: 96px;
  color: #000000;
  font-weight: bold;
  padding-left: 64px;
  align-self: center;
  left: 64px;
  margin: 0;
  z-index: 1;





  }
