.footer__column_content_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;




  }


  li {
    list-style-type: none; /*убираем маркеры*/



    }





    ul {
      margin-left: 0; /*убираем отступы*/
      padding-left: 0;


    }
